
a {

  color: tomato;


}

a:hover {

  color: steelblue; 

}

h1,
h2,
h5 {

  color: tomato;


}

img {

  max-width: 150px;
  border-radius: 25px;

}

li {

  list-style: none;
  display:inline-block;
  padding: 20px;

}

ul {

  padding: 0;


}


.main-wrapper {

  text-align: center;
}

.col-2-12 {

  margin-top: 40px;
  text-align: center;

}


.col-3-12 {

  border: solid;
  text-align: center;
  padding: 0;

}
