head

link(rel="stylesheet" href="style.css")

body
    div#page

        //SIDEBAR BEGINS

        div#masthead.sidebar
            header#masthead.site-header
                div.site-branding
                    h1.site-title
                        a(href="http://google.com") IMITATE
                    p.site-description Don't Ask Me How I Did It!!!
            //
            //MAIN NAVIGATION BEGINS
            //
            div#secondary.secondary
                ul#menu.nav-menu
                    li.menu-item 
                        a(href="http://google.com") About my site
                        div.menu-item-description This site is so rad.
                    li.menu-item 
                        a(href="http://google.com") Easy to read
                        div.menu-item-description You just have to use it.
                    li.menu-item 
                        a(href="http://google.com") Good with pics
                        div.menu-item-description Because I built it.
                    li.menu-item 
                        a(href="http://google.com") I Love Jade and Sass
                        div.menu-item-description Did I mention it's free?
                    li.menu-item 
                        a(href="http://google.com") Find out more
                        div.menu-item-description Find out more today!
                        button.drop-down
                            span::after
                        ul.sub-menu
                            li.menu-item 
                                a(href="http://google.com") One Page
                            li.menu-item
                                a(href="http://google.com") Two Page
                            li.menu-item
                                a(href="http://google.com") Three Page
                            li.menu-item
                                a(href="http://google.com") And more...
                        //                   
                        //MAIN NAVIGATION ENDS
                        //SOCIAL NAVIGATION BEGINS
                        //
            nav#social-navigation.social-navigation
                div#social-links-container.social-links-container
                    ul::before.social-links-menu
                        li.social-menu-item
                            a(href="http://twitter.com")
                            span(class="screen-reader-text") Twitter
                        li.social-menu-item
                            a(href="http://facebook.com")
                            span(class="screen-reader-text") Facebook
                        li.social-menu-item
                            a(href="http://github.com.com")
                            span(class="screen-reader-text") Github
                        //
                        //SOCIAL NAVIGATION ENDS
                        //SEARCH WIDGET BEGINS
                        //
            div#widget-area.widget-area
                aside.search-widget
                    form(role="search" method="get" class="search-form" action="http://google.com")
                        label
                            span(class="screen-reader-text") Search for:
                            input(type="search" class="search-field" placeholder="Goes to Google.com" title="Search for")
                            input(type="submit" value="Search!" class="search-submit")
                //
                //SEARCH WIDGET ENDS
                //SIDEBAR ENDS
                //MAIN CONTENT BEGINS
                //
        div#content.site-content
            div#primary.content-area
                main#main.site-main(roll="main")
                    //
                    //POST CONTENT BEGINS
                    //ENTRY CONTENT BEGINS
                    //
                    article.post
                        div.post-thumbnail
                            img.main-image(src="http://twentyfifteendemo.files.wordpress.com/2014/10/fly.jpg?w=825&h=510&crop=1")
                        header.entry-header 
                            h1.entry-title You Gotta Read This Post!
                        div.entry-content
                            p orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        //
                        //ENTRY CONTENT ENDS
                        //SHARE POST AREA BEGINS
                        //
                        div#post-share.sharedaddy
                            div.sharedaddy
                                div.sd-sharing
                                    h3 SHARE THIS NOW!!!!
                                    div.sd-content
                                        ul
                                            li::before.share-twitter
                                                a(href="http://twitter.com" title="Twitter")
                                                span.share-count 200 
                                            li.share-facebook
                                                a(href="http://facebook.com" title="Twitter")
                                                span.share-count 900
                                            li.share-end
                        //
                        //SHARE POST AREA ENDS
                        //AUTHOR INFO AREA BEGINS
                        //
                        hr
                        div.author-info
                            h2.author-heading Published By
                            div.author-gravatar
                                img.author-gravatar(src="http://1.gravatar.com/avatar/4fdb3b572ac7dd8d7a58ba70317efa14?s=72&d=identicon&r=G")
                            div.author-description
                                h3.author-title Bryan Finlayson
                                p.author-bio lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                                 a::after.author-link(href="http://bryanfinlayson.com") View all posts by this author!
                                   
                        //
                        //AUTHOR INFO AREA ENDS
                        //ARTICLE FOOTER BEGINS
                        //
                        hr
                        footer.entry-footer
                            span::after Posted On
                                time.entry-date.datetime
                                a(href="http://google.com") January 12, 2015
                            span.by-line
                                a(href="http://bryanfinlayson.com") Bryan Finlayson
                        //
                        //ARTICLE FOOTER ENDS
                    //POST CONTENT ENDS
                    //
                    //POST CONTENT BEGINS
                    //ENTRY CONTENT BEGINS
                    //
                    article.post
                        div.post-thumbnail
                            img.main-image(src="http://lorempixel.com/825/510")
                        header.entry-header 
                            h1.entry-title This is where I talk about the merits of this site
                        div::before.entry-content
                            p orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        //
                        //ENTRY CONTENT ENDS
                        //SHARE POST AREA BEGINS
                        //
                        div#post-share.sharedaddy
                            div.sharedaddy
                                div.sd-sharing
                                    h3 SHARE THIS NOW!!!!
                                    div.sd-content
                                        ul
                                            li::before.share-twitter
                                                a(href="http://twitter.com" title="Twitter")
                                                span.share-count 200 
                                            li.share-facebook
                                                a(href="http://facebook.com" title="Twitter")
                                                span.share-count 900
                                            li.share-end
                        //
                        //SHARE POST AREA ENDS
                        //AUTHOR INFO AREA BEGINS
                        //
                        hr
                        div.author-info
                            h2.author-heading Published By
                            div.author-gravatar
                                img.author-gravatar(src="http://1.gravatar.com/avatar/4fdb3b572ac7dd8d7a58ba70317efa14?s=72&d=identicon&r=G")
                            div.author-description
                                h3.author-title Bryan Finlayson
                                p.author-bio Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodorem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,orem Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                 a::after.author-link(href="http://bryanfinlayson.com") View all posts by this author!
                                   
                        //
                        //AUTHOR INFO AREA ENDS
                        //ARTICLE FOOTER BEGINS
                        //
                        hr
                        footer.entry-footer
                            span::after Posted On
                                time.entry-date.datetime
                                a(href="http://google.com") January 12, 2015
                            span.by-line
                                a(href="http://bryanfinlayson.com") Bryan Finlayson



















                                        







    