body {
	position: relative;
	line-height: 1.4471;
	font-size: 1.1rem;
}

a {
	text-decoration: none;
	color: black;
}

.sidebar ul {
	margin-left: 0;
	padding-left: 0;
}

.sidebar ul li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	font-style: strong;
	border-top: solid 1px;
	div & {
		color: grey;
	}
}

.post h1 {
	font-size: 2rem;
	padding: 20px;

}

article p,
h3,
h2 {
	margin-left: 20px;
}

.sidebar {
	float: left;
	position: fixed;
	padding-right: 65px;
	padding-bottom: 65px;
	padding-left: 65px;
	padding-top: 95px;
	margin-right: -100%;
	max-width: 300px;
	width: 29.41%;
	background: white;
	vertical-align: baseline;
	margin-top: -3%;
}


#content {
	margin-left: 430px;
	background: 0xf1;
	margin-top: -10%;
}

.post {
	margin-top: 100px;
	background: white;
	max-width: 825px;
	margin-left: 75px;
	position: relative;
}

.author-gravatar {
	padding: 20px;
}

.entry-footer {
	padding: 20px;
}
